.header {
    display: flex;
    justify-content: space-between;
}


#headingScribbler{
  font-family: "Montez", cursive;
  color: blue;
  font-size: 24px;
  margin: 0;
}  
#subheading{
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
}

.btn-wrapper button {
    background-color: blue;
    border: none;
    padding: 5px 15px;
    color: white;
    margin: 5px;
    cursor: pointer;
  }


  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffffff;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
    border-radius: 0;
  }

  #submitSignUpBtn{
      background-color: green;
  }
  #submitSignInBtn{
    background-color: green;
  }
  .modal-title{
      color: grey;
      font-size: 30px;
      font-weight: 400;
  }
  .not-member {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 12px;
  }
  .not-member span {
    color: blue;
    cursor: pointer;
  }